* {
    padding: 0;
    margin: 0;
}

#container {
    position: relative;
    overflow: hidden;
    z-index: 1;
}
canvas {
    z-index: 0;
    background: white;
    display: block;
    margin: 0 auto;
}

button {

    padding: 25px;
}

#buttonContainer{
    z-index: 5;
    margin: 50px
}